{% extends 'main/index.html.twig' %}

{% block title %}A propos{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/article.css')}}">{% endblock %}
{% block body %}

  
<main>
    <section>

    
    <div class="super-container-projets">
        {% for article in articles %}
    
        <div class="container-projets">
            <div class="container-infos-projets">
            
                {{article.content|raw}}
            
            </div>
        </div>
    

        {% endfor %}
        </div>
    </section>
{% endblock %}


