

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.haut{
    background-image: url("../uploads/images/fond1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 90vh;
    font-size: 50px;
   justify-content: center;
   position: relative;
   width: 100%;
 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}


.haut img{
    position: absolute;
    bottom: 0;
    width: 5%;
}


.haut h1{
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    margin-bottom: 2em;
    color:white;
    font-size: 1em;
   animation: titre 0.5s linear;
}
#phrase1 {
    font-size: 0.7em;
    color : transparent;
    position : relative;
    padding-left: 0;
    padding-right: 0;
    background-color: #ecccd9a8;
    padding: 10px;
    border-radius: 50px;
}

#phrase1::before{
    content: "Développeuse...web"; 
    /* background-color: rgba(255, 255, 255, 0.507); */
    position : absolute;
    overflow: hidden;
    color: black;
    animation: text 6s 0.5s linear infinite;
}


@keyframes titre{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}


@keyframes text{
    0%{
        width: 0;
      
    }
    50%{
        width: 100%;
    }
    100%{
        width: 100%;
    }
}
.annonce{
    width: 80%;
    margin: 0 auto 2em auto;
    font-size: 1em;
    line-height: 1.5em;

}
.icones-cha{
    width: 20%;
}


.container-annonce{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.tag{
    color: var(--link-color);
    font-weight: 600;
}
.title{
    font-size: 3.5em;
    color :  var(--link-color); 
    text-align: center;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 90%;
    margin: 1em auto;
    padding: 20px 0 ;
}
.titre{
    justify-content: space-around;
    font-size: 0.6em;
    color :  var(--link-color);
    text-align: center;
    margin:4em auto 0.8em auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid black;
    align-items: center;
    width: 90%;
}

.titre h2{
    margin-left: 30px;
    font-size: 2em;
  
}

.super-container-projets{
    margin-top: 4em;
}

.image-article{
    width: 100%;
    display: block;
    margin : 0 auto
}

.container-projets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto 14em auto;
    text-align: center;
    
   

}

h3 a{
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    padding-top: 1em;
    text-decoration: underline var(--link-color);
    transition: 0.5s;
}

h3 a:hover{
    color: black;
}

.container-projets h3{
    font-size: 2em;
    margin-bottom: 1em;
}

.container-projets p{
    font-size: 1em;
    line-height: 2em;
    text-align: justify;
    width: 70%;
    margin: 0 auto 3em;
}

.container-projets h4{
    font-size:1em;
    margin-bottom: 1em;
}

.icones-techno{
    width: 40px;
    text-align: center;
}




@media only screen and (min-width:1200px){
    .haut h1{
        font-size: 2em;
    }

    #phrase1{
        font-size: 70px;
        padding: 40px;
    }
    
    .container-annonce{
        width: 60%;
        margin: 6em auto 6em auto;
      
    }

    .annonce{
        font-size: 2em;
        margin-bottom: 4em;
    }
    .icones-cha{
        width: 80px;
    }
    .titre{
        width: 80%;
       margin: 0 auto;
    }

    .titre h2{
        font-size: 3.5em;
    }
    h2{
        font-size: 1em;
    }

    h3 a{
        font-size: 1.2em;
    }
    .container-projets{
        align-items: center;
        flex-direction: row;
    }

   .container-projets:nth-child(even){
       flex-direction: row-reverse;
       align-items: center;
   }

    .container-infos-projets{
        width: 80%;
    }

    .image-article{
        width: 700px;
    }

    .container-infos-projets h3{
        text-align: center;
        margin-top: 0;
    }

    .container-projets h4{
       text-align: center;
       font-size: 1.5em;
    }

    .icones-techno{
        width: 50px ;
        display: block;
        margin: 0 auto;
    }

    .container-projets p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.4em;
    }
}




