.description{
    font-style: italic;
}

main{
    width: 80%;
}

.title{
    color :  #BB1159;
    text-align: center;
    margin-bottom: 0.8em;
    margin-top: 4em;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid black;
    width: 80%;
}


h2{
    color :  #BB1159;
    text-align: center;
    font-size: 3em;
    margin : 2em  auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid black;
    width: 98%; 
}

h4{
    font-size: 3em;
    margin-bottom: 1em;
}
h1{
    margin-top: 2em;
    font-size: 3em;
    margin-bottom: 2em;
}

p{
    font-size: 2.5em;
    line-height: 2em;
    text-align: justify;
}

.avatar{
    width: 500px;
}

.image-article{
    width: 99%;
}
.premiere{
    margin-top: 1em;
}
.image-tel{
    margin: 2em auto;
    display: block;
}
ol, ul{
    font-size: 2.3em;
}

.bouton-espace{
    margin: 2em auto
}

.container-tableau{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2em;
}

.article-tableau{
    margin-bottom: 2em;
}




@media only screen and (min-width:1200px){
    main{
        width: 50%;
    }

    h1{
        font-size: 1.8em;
    }

    .avatar{
        width: 300px;
    }

    p{
        font-size: 1em;
    }

    h2{
        font-size: 1.8em;
        width: 100%;
    }

    ol, ul{
        font-size: 1.1em;
        margin-left: 2em;
    }

    li{
        padding-top: 0.5em;
    }

    h4{
        font-size: 1.3em;
    }
   .container-tableau{
       flex-direction: row;
       justify-content: space-around;
   }
}
